body{
    background-image: url('https://th.bing.com/th/id/OIP.VHE-j_YItbAtBo3R1AU5dgHaKe?rs=1&pid=ImgDetMain');
    background-size: 200px ;
    background-position: bottom right;
    background-repeat: no-repeat;

}